@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}

:root {
	--surface: white;
	--surface-tint: rgb(255, 198, 198);
	--content: black;
	--content-light: rgb(52, 52, 52);
	--outline: rgb(70, 70, 70);
	--primary: rgb(255, 52, 52);
	--primary-highlight: rgb(255, 61, 61);
	--primary-content: white;
	--shadow: rgba(56, 17, 17, 0.5);
	--tooltip: rgb(52, 52, 52);
	--tooltip-content: white;
}
@media (prefers-color-scheme: dark) {
	:root {
		--surface: rgb(18, 18, 18);
		--surface-tint: rgb(97, 15, 15);
		--content: white;
		--content-light: rgb(195, 195, 195);
		--outline: rgb(184, 184, 184);
		--primary: rgb(240, 43, 43);
		--primary-highlight: rgb(216, 37, 37);
	}
}
